* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

#search {
  color: #fff;
  background-color: rgba(26, 26, 182, 0.774);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.375rem 0.7rem;
  text-align: center;
  line-height: 1.5;
  border-radius: 0.25rem;
  outline: none;
  font-weight: 400;
  min-height: 38px;
  border: none;
}

#movie-searchable {
  margin-top: 20px;
}

#inputValue {
  width: 760px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.375rem 0.7rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  outline: none;
  color: rgb(17, 105, 32);
  border: 1px solid rgb(0, 0, 0);
}

.form-group {
  margin-bottom: 0.5rem;
}

section {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

section img {
  width: 300px;
  margin: 0 3px;
}

img:hover {
  /* margin-left: 0 40px; */
  transform: scale(1.1);

  cursor: pointer;
}

.content {
  border: 1px solid red;
  height: 15rem;
  display: none;
}

.content-display {
  display: block;
}
